<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>WEB1 - <%= title %></title>
    </head>
    <body>
        <h1><a href="/">WEB</a></h1>
        <a href="/AUTHOR">author</a>

        <%-list %>

        <h2><a href="/">홈으로가기</a></h2>
    </body>
</html>