<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WEB1 - <%=title%></title>
</head>
<body>
    <h1><a href="/">WEB</a></h1>
    <a href="/author">author</a>
    
    <%- list%>
</body>
</html>
