<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WEB1 - <%=title%></title>
</head>
<body>
    <h1>
        <a href="/">WEB</a>
    </h1>
    <oi>
        <li><a href="/HTML">HTML</a></li>
        <li><a href="/CSS">CSS</a></li>
        <li><a href="/JS">JavaScript</a></li>
    </oi>
    <h2><%=title%></h2>
    <p>Test</p>
</body>
</html>